<% layout('layout') -%>
<h1>Files</h1>
<ul>
<% files.forEach(function(file) { %>
  <li>
	<% if(file.dir) { %>
      <a href="<%= prefix %>?path=<%= base %>/<%= file.name %>" class="dir"><%= file.name %></a>
	  <a href="<%= prefix %>tar/?path=<%= base %>/<%= file.name %>" class="tar">[Tar]</a>
	<% } else { %>
      <a href="<%= prefix %>fetch/?path=<%= base %>/<%= file.name %>" class="download"><%= file.name %></a>
	<% } %>
  </li>
<% }) %>
</ul>
